*{
margin:0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;;
}

body{
	background: url(../img/imagen.jpg);

background-size: cover;
background-attachment: fixed;
font-family: Roboto;
			padding:-top:40px;
			padding-bottom: 40px;
			background-color:rgb(235, 235, 235); 
}
h2{
	color: #fff;
	margin: 0.80em;
	text-shadow: 7px 7px 10px rgba(255, 255, 255, 0.7);
font-size: 30px;
}

.contenedor{

background-color: rgba(9, 23, 165, 0.2);
max-width: 350px;
width: 100%;
margin: 25% auto;
border-radius: 20px;
color:#fff;
position: relative;
padding: 10px,45px;
}

.contenedor h2{
text-align: center;
letter-spacing: 1px;
color: red;
font-size: 28px;


}



.formulario{
	max-width: 100%;
	padding: 50px;
	margin:0 auto;

}
.formulario .form-control{
	position: relative;
	height: auto;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	padding: 7px;
	
	font-size: 16px;
}
.formulario .form-control:focus {
z-index: 2;
}
.form-signin .form-signin-heading{
              margin-bottom: 10px;
            }

/*.fomulario input[text="text"]{
	margin-bottom: -1px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;

}
.formulario input[type="password"]{
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
}*/
.formulario input[type="text"],
.formulario input[type="password"]{
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    /*margin: 0 0 10px 0;*/
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.formulario input[type="text"]:focus,
.formulario input[type="password"]:focus{
    border-bottom: 4px solid #0075d9;
}

.formulario input[type="submit"] {
    background: rgba(0, 117, 217, 0.9);
    
    color: #FFF;

    width: 50%;
    border: none;
    padding: 5px 5px;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.formulario input[type="submit"]:hover {
background: #FF851B;
}

/*codigo para el registro*/
.contenedor .toggle {
    /*color: red;*/
    position: center;
    width: 50%;
    font-size: 20px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor .toggle:hover {
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    border-left: 2px solid orange;
    border-right:2px solid orange;
}

.contenedor .toggle span {
	text-align: center;
    letter-spacing: 3px;
}


/*he olvidado  mi contrasenia*/
.contenedor .reset-password {

    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedor .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.contenedor .formulario .formulario {
    display: none;
    padding: 40px;
}


.contenedor .formulario:nth-child(2) {
    display: block;
}



