* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    background: url(../img/imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
}
h1 {
   
    color: pink;
    margin: 0.40em auto;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.8);
    font-size: 60px;
}
h2{

    color:#fff; 
    margin:0.80em;
    text-shadow: 7px 7px 10px rgba(255, 255, 255, 0.7);
    font-size: 30px;
}
.formularioregistro{
 background-color:rgba(9, 23, 165, 0.2);
    max-width: 350px;
    width: 100%;
    margin: 5% auto;
    border-radius: 20px;
    /*color: #fff;*/
    position: relative;
    padding: 30px 45px;

}
.formularioregistro h1{
text-align: center;
color: red;
font-size: 30px;

}


.formularioregistro input[type="text"],
.formularioregistro input[type="password"]{
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    /*margin: 0 0 10px 0;*/
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.formularioregistro input[type="text"]:focus,
.formularioregistro input[type="password"]:focus{
    border-bottom: 4px solid #0075d9;
}

.formularioregistro input[type="button"] {
    background: rgba(0, 117, 217, 0.9);
    
    color: #FFF;

    width: 50%;
    border: none;
    padding: 5px 5px;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.formularioregistro input[type="button"]:hover {
background: #FF851B;
}


